#pokemon-description {
  margin-bottom: 2vmax;
  text-align: left;
  font-size: 1.2em;

  @media (max-width: 1200px) {
    margin-bottom: 3vmax;
  }
  @media (max-width: 720px) {
    margin-bottom: 5vmax;
  }
}
