@use '../../containers/App';

table.pokemon-stat-table {
  display: block;
}

.pokemon-stat-table caption {
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

th,
td {
  padding-right: 1.1em;
}

tr {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 0.5em solid rgba(0, 0, 0, 0);
}

thead tr {
  justify-content: flex-start;
}

thead {
  // Hide the table header  when the stat and values span multiple lines
  @media (max-width: 663px) {
    visibility: collapse;
  }
  @media (min-width: 888px) and (max-width: 1306px) {
    visibility: collapse;
  }
}

th.modal-info-sublabel {
  padding-bottom: 0.5em;
  min-width: 80px;
}

th.modal-info-sublabel.value {
    width: 181px;
  }

td.stat-name {
  min-width: 80px;
  text-transform: capitalize;
  font-size: 0.9em;

  &.total {
    font-size: 1em;
  }
}

td.stat-value {
  display: flex;
  max-width: 210px;
}

.stat-value-number {
    margin-right: 1em;
    width: 1.6em;

    // When the stats and values are on one line, right-align the values for better readability
    @media (min-width: 664px) and (max-width: 887px) {
      text-align: right;
    }
    
    @media (min-width: 1307px) {
      text-align: right;
    }
}

td.hp {
  text-transform: uppercase;
}

tfoot tr {
  border-top: 1em solid rgba(0, 0, 0, 0);
}

tfoot td {
  padding-right: 1em;
  font-weight: 600;
}

.stat-bar-inner {
  display: inline-block;
  opacity: 0.7;
  border-radius: 12px;
  height: 0.5em;

  &.total {
    opacity: 1;
  }
}
