#pokemon-abilities {
    border-top: 1px solid #ddd;
  }

.pokemon-ability {
    margin: 0.8em 0.5em 0em 0em;
}

.pokemon-ability:last-child {
    padding-bottom: 0.3em;
}

.pokemon-ability summary {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.1em;
}

.hidden-ability-label {
    margin: 0em 1em;
    border-radius: 0.4em;
    background-color: #ddd;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    font-size: 0.7em;
}