.modal-column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
}

#modal-centre-section > .modal-column {
  /* Move the columns slightly outside of the bounding box to hide 
     the grey background which provides the dividing line */
  margin: -2px;
  background-color: #fff;
  padding: 2px;
}

#modal-centre-section > .modal-column:last-of-type {
  // Removes the left margin from the final column when wrapped
  margin-left: -2.1vmax;
  padding-right: 3vmax;
}