$value-padding: 0.4em;
$value-half-padding: 0.2em;

.modal-info-value {
  padding-top: $value-padding;
  padding-bottom: $value-half-padding;
  min-width: 66px;
  text-transform: capitalize;
  font-size: 1.2em;
}

.modal-info-alternative-value {
  min-width: 66px;
  color: #666;
  font-size: 1em;
}

.modal-info-unit {
  align-self: center;
  padding-left: 0.3em;
  font-size: 0.9em;
}

.modal-info-alternative-unit {
  font-size: 0.8em;
  
  @extend .modal-info-unit;
}

.modal-info-values-row .modal-info-value {
  padding-top: 0;
  padding-right: 1.2em;
}

.modal-info-value + .modal-info-value {
  padding-top: 0;
}

.modal-info-value:last-child {
  padding-bottom: 0;
}