.btn-modal-exit {
  position: fixed;
  transition: background-color 0.1s ease-in-out;
  z-index: 999;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 12px;
  color: #fff;
  font-size: 1.2em;

  &#btn-modal-exit-portrait {
    display: block;
    top: 8px;
    right: 8px;
    border-radius: 32px;
  }

  &#btn-modal-exit-landscape {
    display: none;
    right: 0px;
    border-radius: 0px 16px 0px 16px;
  }

  @media (orientation: landscape) {
    &#btn-modal-exit-landscape {
      display: block;
    }

    &#btn-modal-exit-portrait {
      display: none;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
