// font-size: calc([minimum font size] + ([maximum font size] - [minimum font size]) * ((100vmin - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
$font-size: calc(14px + (90 - 14) * (100vmin - 140px) / (3840 - 140));
$img-panel-z-index: 5;
$text-stroke: 0 0 3px black;

@mixin text-style {
  z-index: $img-panel-z-index;
  text-align: center;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
  line-height: 1.4;
  letter-spacing: 4px;
  color: #fff;
  font-family: "Pokemon Solid";
}

.modal-img-panel {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1 33%;
  flex-direction: column;
  justify-content: space-between;
  min-width: 180px;

  img {
    z-index: $img-panel-z-index;
    width: 60%;
    max-width: 35vh;
    height: auto;
    max-height: 35vh;
  }

  .modal-top-heading {
    margin: 8vh 1vw 6vh 1vw;
    margin-top: max(60px, 8vh);
    font-size: $font-size;
    @include text-style;
  }

  .modal-bottom-heading {
    margin: 6vh 1vw 7vh 1vw;
    text-transform: capitalize;
    font-size: $font-size;
    @include text-style;
  }

  .hidden {
    visibility: hidden;
  }
}

.menu-modal-img {
  background-image: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(../../assets/images/menu-background.jpg);
  background-size: cover;
}
