@use '../../containers/App';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  min-height: 100%;

  &.visible {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.hidden {
    display: none;
  }
}

.modal-main {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  align-items: stretch;
  flex-flow: row wrap;
  transform: translate(-50%, -50%);
  z-index: 995;
  border-radius: 16px;
  background-color: white;
  width: 90%;
  height: 90%;
  overflow: hidden;
  overflow-y: auto;
}

.modal-info-panel {
  display: flex;
  flex: 1 55%;
  flex-direction: column;
  margin-top: 55px;
  padding: 0vmax 3vmax 0vmax 3vmax;
  height: calc(90vh - 85px);
  overflow-y: auto;
  font-family: "Quicksand", sans-serif;
}