.btn-modal-exit {
  position: fixed;
  top: 5vh;
  right: 5vw;
  transition: background-color 0.1s ease-in-out;
  z-index: 999;
  border-radius: 0px 16px 0px 16px;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 12px;
  color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
