@use "../containers/App";

$text-stroke: 0 0 3.5px black;

.card-list {
  display: grid;
  justify-content: center;
  margin-top: 120px;
  padding: 5vmin;
  gap: 5vmin;

  @media (orientation: landscape) and (min-height: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, calc(33vmin / 1.4)));
    grid-auto-rows: minmax(154px, 33vmin);
  }

  @media (orientation: landscape) and (max-height: 600px) {
    grid-template-columns: repeat(auto-fit, 110px);
    grid-auto-rows: 154px;
  }

  @media (orientation: portrait) {
    grid-template-columns: repeat(auto-fill, minmax(110px, 33vmin));
    grid-auto-rows: minmax(154px, calc(33vmin * 1.4));
  }

  &.with-title {
    margin-top: 80px;
  }
}

.modal-card-list {
  display: grid;
  justify-content: start;
  padding: 3vh 0vw;
  gap: 28px;

  @media (orientation: landscape) and (min-height: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, calc(20vmin / 1.4)));
    grid-auto-rows: minmax(154px, 20vmin);
  }

  @media (orientation: portrait) and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, calc(20vmin / 1.4)));
    grid-auto-rows: minmax(154px, 20vmin);
  }

  @media (orientation: landscape) and (max-height: 600px) {
    grid-template-columns: repeat(auto-fit, 110px);
    grid-auto-rows: 154px;
  }

  @media (orientation: portrait) and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, 110px);
    grid-auto-rows: 154px;
  }
}

.with-title {
  grid-template-rows: auto;
}

.card-list-header {
  display: flex;
  grid-column: 1 / -1;
  font-size: calc(14px + (50 - 14) * (100vmin - 140px) / (3840 - 140));
}

.card-list-reset-btn {
  transition: color 0.1s ease-in-out;
  border-radius: 48px;
  cursor: pointer;
  padding: 12px;
  color: rgba(255, 255, 255, 1);

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

.card-list-title {
  transform: translateZ(3px);
  margin: 0.5em;
  margin-top: 0em;
  text-transform: capitalize;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
  line-height: 1.4;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Pokemon Solid";
}
