@use "../components/Modal/Modal.scss";

.menu-modal {
  @extend .modal;
}

.menu-modal-main {
  overscroll-behavior: none;
  @extend .modal-main;
}

.menu-modal-info-panel {
  @extend .modal-info-panel;
}

#menu-information {
  & p {
    margin-block-end: 0em;
  }

  & a {
    text-decoration: none;
    color: #421aa3;
    font-weight: 900;
  }

  & a:visited {
    text-decoration: none;
    color: #50396d;
    font-weight: 900;
  }

  & a:hover {
    text-decoration: none;
    color: #a4241e;
    font-weight: 900;
  }
}
