@use "../components/Modal/Modal.scss";

.filter-overlay {
  @extend .modal;
}

.filter-menu {
  background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)), url(../assets/images/menu-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
  @extend .modal-main;

  @media (any-hover: hover) {
    width: 90vw;
    height: 90vh;
  }
}

.filter-menu-inner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6em 2em;
  overflow: auto;

  @media (any-hover: hover) {
    padding: 3em 2em;
  }
}

.menu-heading {
  display: block;
  letter-spacing: 0.14em;
  color: #1c2c5e;
  font-family: "Pokemon Solid";
  font-size: 1.4em;

  @media (max-width: 767px) {
    letter-spacing: 0.1em;
    font-size: 1em;
  }
}

.filter-label {
  margin-top: 0.8em;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.filter-btns {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-align: left;
  font-family: "Quicksand", sans-serif;
}

.credits {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;

  & a {
    text-decoration: none;
    color: #421aa3;
    font-weight: 800;
  }

  & a:visited {
    text-decoration: none;
    color: #50396d;
    font-weight: 800;
  }
  
  & a:hover {
    text-decoration: none;
    color: #a4241e;
    font-weight: 800;
  }
}