@mixin options-style {
  margin: 0;
  cursor: pointer;
  padding: 0.25em 1.25em;
  list-style: none;
  text-transform: capitalize;

  @media (max-width: 767px) {
    padding: 1em;
  }
}

.search-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 32px;
  border-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  overflow: hidden;

  &:focus-within {
    outline: 0;
    box-shadow: 0 0 5px 4px cornflowerblue;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0.25em 0em;
  min-height: 58px;
}

.search-box {
  flex-grow: 2;
  border: none;
  padding: 0.25em;
  padding-bottom: 0.5em;
  width: 100%;
  text-indent: 1em;
  letter-spacing: 0.1em;
  font-family: "Pokemon Solid";
  font-size: 1em;

  @media (max-width: 767px) {
    letter-spacing: 0.08em;
    font-size: 0.8em;
  }

  &:focus-within {
    outline: 0;
    box-shadow: none;
  }
}

span.search-divider {
  align-self: center;
  margin-left: 1.1em;
  border-right: 1px solid #dfe1e5;
  height: 65%;

  &:before {
    display: inline;
    content: "\200D";
 }
}

.search-btn {
  transition: color 0.1s ease-in-out;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.25em 1.6em;
  color: #3563ad;
  font-size: 1.1em;

  &:hover {
    color: #1c2c5e;
  }

  &:disabled {
    cursor: default;
    color: #aaa;
  }
}

div.options-container-divider {
  margin: auto;
  border-top: 1px solid #dfe1e5;
  padding: 0.25em 0em;
  width: 96%;
}

.options-container {
  padding-bottom: 0.6em;
  letter-spacing: 0.09em;
  color: #333;
  font-family: "Pokemon Solid";
  font-size: 0.9em;

  @media (max-width: 1000px) {
    letter-spacing: 0.08em;
    font-size: 0.8em;
  }
}

.options {
  margin: 0;
  padding: 0;
}

.option {
  @include options-style;
}

.option-active {
  background-color: #B3E5FC;
  @include options-style;
}

.no-results {
  cursor: auto;
  text-transform: none;
  color: #f44336;
  @include options-style;
}